@import "compass/css3";

/*I just made this background and wanted to save it here*/
$colour:hsla(350,100%,25%,1);
$grey:desaturate($colour,90%);
body {
    background:lighten($grey,30%);
    background-image:
            linear-gradient(40deg,transparentize($grey,0.95),transparentize($colour,0.95)),

            linear-gradient(135deg,
            lighten($grey,18%) 0%,
            lighten($grey,18%) 10%,
            lighten($grey,25%) 11%,
            lighten($grey,25%) 40%,
            lighten($grey,35%) 41%,
            lighten($grey,35%) 50%,
            lighten($grey,18%) 51%,
            lighten($grey,18%) 60%,
            lighten($grey,25%) 61%,
            lighten($grey,25%) 90%,
            lighten($grey,35%) 91%)
;
    background-size:7px 7px, 4px 4px;
}


button {
    outline:none;
    font-family:'helvetica neue' sans-serif; font-size:2em;
    color:hsla(350,0%,100%,1); text-shadow:-1px -1px 1px hsla(350,0%,0%,0.7), 1px 1px 1px hsla(350,0%,100%,0.3);
    display:block; margin:2em auto; padding:23px 37px 25px 35px;
    cursor:pointer;
    background-color:hsla(0, 0%, 100%,1);
    background-image:
            linear-gradient(273deg,hsla(350,80%,30%,1) 30%, hsla(350,80%,30%,1) 40%)
;
    border:none; border-radius:16px;
    box-shadow:
            inset 0px 0px 1px 1px hsla(350,80%,30%,0.9),
            inset 0px 0px 2px 3px hsla(350,80%,50%,0.9),
            inset 1px 1px 1px 4px hsla(350,80%,100%,0.8),
            inset 0px 0px 2px 7px hsla(350,80%,60%,0.8),
            inset 0px 0px 4px 10px hsla(350,80%,50%,0.9),
            8px 10px 2px 6px hsla(350,80%,20%,0.55),
            0px 0px 3px 2px hsla(350,80%,40%,0.9),
            0px 0px 2px 6px hsla(350,80%,50%,0.9),
                /*0px 0px 2px 3px hsla(350,80%,60%,0.9),*/
            -1px -1px 1px 6px hsla(350,80%,100%,0.9),
                /*0px 0px 2px 8px hsla(350,80%,60%,0.9),*/
            0px 0px 2px 11px hsla(350,80%,50%,0.9),
            0px 0px 1px 12px hsla(350,80%,40%,0.9),
            1px 3px 14px 14px hsla(350,80%,0%,0.4)
;
}

button:active {
    color:hsla(350,0%,85%,1); padding:26px 34px 22px 38px;
    background-image:
            linear-gradient(273deg,hsla(350,80%,50%,1) 50%, hsla(350,80%,55%,1) 60%)
;
    box-shadow:
            inset 3px 4px 3px 2px hsla(350,80%,20%,0.55),
            inset 0px 0px 1px 1px hsla(350,80%,30%,0.9),
            inset -1px -1px 2px 3px hsla(350,80%,50%,0.9),
            inset -2px -2px 1px 3px hsla(350,80%,100%,0.8),
            inset 0px 0px 2px 7px hsla(350,80%,60%,0.8),
            inset 0px 0px 3px 10px hsla(350,80%,50%,0.9),

            0px 0px 3px 2px hsla(350,80%,40%,0.9),
            0px 0px 2px 6px hsla(350,80%,50%,0.9),
                /*0px 0px 2px 3px hsla(350,80%,60%,0.9),*/
            -1px -1px 1px 6px hsla(350,80%,100%,0.9),
                /*0px 0px 2px 8px hsla(350,80%,60%,0.9),*/
            0px 0px 2px 11px hsla(350,80%,50%,0.9),
            0px 0px 1px 12px hsla(350,80%,40%,0.9),
            1px 3px 14px 14px hsla(350,80%,0%,0.4)
;
}

body {
    background: dark-grey;
}
