$bg: #333;
$push-color: hsla(10, 90%, 40%, 1);

$push-size: 240px;

body {
  margin: 1em;
  background: $bg;
  color: #ccc;
  font: normal 3vw/1 'Montserrat', sans-serif;;
  text-align: center;
  text-transform: uppercase;
}
h1 {
  font-size: 5vw;
}
[class*="push"] {
  position: relative;
  display: inline-block;
  width: $push-size;
  height: $push-size;
  border: 0;
  margin: 1em;
  outline: none;
  background-color: $push-color;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms;
}
.push--flat {
  box-shadow: 
    inset 0 $push-size/32 0 lighten($push-color, 5%),
    inset 0 (-$push-size/32) 0 darken($push-color, 5%),
    inset 0 0 0 $push-size/32 darken($push-color, 3%),
    inset 0 0 0 $push-size/12 $push-color,
    inset 0 0 0 $push-size/10 darken($push-color, 20%),
    inset 0 0 0 $push-size/9.2 darken($push-color, 50%),
    inset 0 0 0 $push-size/7.5 transparentize(lighten($push-color, 30%), .3),
    inset 0 0 0 $push-size/5.5 $push-color,
    inset 0 $push-size/2.5 $push-size/7.5 darken($push-color, 5%),
    inset 0 0 $push-size/10 $push-size/6 darken($push-color, 10%),
    0 $push-size/20 0 rgba(0, 0, 0, .3);

  &:after {
    content: '';
    position: absolute;
    bottom: $push-size/20;
    left: $push-size/10;
    display: block;
    width: $push-size/1.25;
    height: $push-size/1.25;
    border: $push-size/15 solid rgba(0, 0, 0, .3);
    border-width: 0 0 $push-size/15;
    border-radius: 50%;
    transition-duration: 200ms;
  }

  &:active,
  // &:hover,
  &.is-pushed {
    box-shadow: 
      inset 0 $push-size/32 0 lighten($push-color, 5%),
      inset 0 (-$push-size/32) 0 darken($push-color, 5%),
      inset 0 0 0 $push-size/32 darken($push-color, 3%),
      inset 0 0 0 $push-size/12 $push-color,
      inset 0 0 0 $push-size/10 darken($push-color, 20%),
      inset 0 0 0 $push-size/8.5 darken($push-color, 40%),
      inset 0 0 0 $push-size/7.5 transparentize(lighten($push-color, 30%), .8),
      inset 0 0 0 $push-size/5.5 darken($push-color, 3%),
      inset 0 $push-size/2.5 $push-size/7.5 darken($push-color, 8%),
      inset 0 0 $push-size/10 $push-size/6 darken($push-color, 15%),
      0 $push-size/20 0 rgba(0, 0, 0, .3);
    background-color: darken($push-color, 2%);
        
    &:after {
      bottom: $push-size/20 + $push-size/15;
      border-width: 0;
    }
  }
}

.push--skeuo {
  box-shadow: 
    inset 0 $push-size/24 0 lighten($push-color, 5%),
    inset 0 (-$push-size/24) $push-size/60 darken($push-color, 5%),
    0 0 $push-size/60 $push-color,
    inset 0 0 $push-size/30 darken($push-color, 15%),
    inset 0 0 $push-size/30 transparentize($bg, .5),
    inset 0 0 $push-size/60 $push-size/12 $push-color,
    inset 0 (-$push-size/30) $push-size/40 $push-size/10 transparentize($bg, .3),
    inset 0 0 $push-size/60 $push-size/10 darken($push-color, 20%),
    inset 0 0 $push-size/60 $push-size/10 transparentize($bg, .3),
    inset 0 0 $push-size/120 $push-size/9.2 darken($push-color, 50%),
    inset 0 0 $push-size/120 $push-size/8 transparentize(lighten($push-color, 30%), .3),
    inset 0 $push-size/20 0 $push-size/8.5 transparentize(lighten($push-color, 15%), .3),
    inset 0 (-$push-size/20) $push-size/60 $push-size/8.5 transparentize(darken($push-color, 10%), .8),
    inset 0 0 0 $push-size/5.5 $push-color,
    inset 0 $push-size/2.5 $push-size/7.5 darken($push-color, 5%),
    inset 0 0 $push-size/10 $push-size/6 darken($push-color, 10%),
    0 $push-size/40 $push-size/20 rgba(0, 0, 0, .5);

  &:active,
  // &:hover,
  &.is-pushed {
    box-shadow: 
      inset 0 $push-size/24 0 lighten($push-color, 5%),
      inset 0 (-$push-size/24) $push-size/60 darken($push-color, 5%),
      0 0 $push-size/60 $push-color,
      inset 0 0 $push-size/30 darken($push-color, 15%),
      inset 0 0 $push-size/30 transparentize($bg, .5),
      inset 0 0 $push-size/60 $push-size/12 $push-color,
      inset 0 (-$push-size/30) $push-size/40 $push-size/10 transparentize($bg, .3),
      inset 0 0 $push-size/60 $push-size/10 darken($push-color, 20%),
      inset 0 0 $push-size/60 $push-size/10 transparentize($bg, .3),
      inset 0 0 $push-size/40 $push-size/8.5 darken($push-color, 40%),
      inset 0 0 $push-size/120 $push-size/7.5 transparentize(lighten($push-color, 30%), .8),
      inset 0 $push-size/20 0 28px transparentize(lighten($push-color, 15%), .5),
      inset 0 (-$push-size/20) $push-size/60 28px transparentize(darken($push-color, 20%), .8),
      inset 0 0 0 $push-size/5.5 darken($push-color, 3%),
      inset 0 $push-size/2.5 $push-size/7.5 darken($push-color, 8%),
      inset 0 0 $push-size/10 $push-size/6 darken($push-color, 15%),
      0 $push-size/40 $push-size/20 rgba(0, 0, 0, .5);
    background-color: darken($push-color, 2%);

    &:before {
      opacity: .5;
    }
  }

  &:before {
    content: '';
    position: absolute;
    bottom: $push-size/4.5;
    left: $push-size/3.6;
    display: block;
    width: $push-size/2.2;
    height: $push-size/3.3;
    background: transparentize(lighten($push-color, 30%), .8);
    background: linear-gradient(to top, transparentize(lighten($push-color, 40%), .7) 0%, transparentize($push-color, .9) 100%);
    border-radius: 40% 40% 60% 60%;
    transition: opacity 200ms;
  }
}


@import "compass/css3";

/*I just made this background and wanted to save it here*/
$colour:hsla(350,100%,25%,1);
$grey:desaturate($colour,90%);
body {
    background:lighten($grey,30%);
    background-image:
            linear-gradient(40deg,transparentize($grey,0.95),transparentize($colour,0.95)),

            linear-gradient(135deg,
            lighten($grey,18%) 0%,
            lighten($grey,18%) 10%,
            lighten($grey,25%) 11%,
            lighten($grey,25%) 40%,
            lighten($grey,35%) 41%,
            lighten($grey,35%) 50%,
            lighten($grey,18%) 51%,
            lighten($grey,18%) 60%,
            lighten($grey,25%) 61%,
            lighten($grey,25%) 90%,
            lighten($grey,35%) 91%)
;
    background-size:7px 7px, 4px 4px;
}


button {
    outline:none;
    font-family:'helvetica neue' sans-serif; font-size:2em;
    color:hsla(350,0%,100%,1); text-shadow:-1px -1px 1px hsla(350,0%,0%,0.7), 1px 1px 1px hsla(350,0%,100%,0.3);
    display:block; margin:2em auto; padding:23px 37px 25px 35px;
    cursor:pointer;
    background-color:hsla(0, 0%, 100%,1);
    background-image:
            linear-gradient(273deg,hsla(350,80%,30%,1) 30%, hsla(350,80%,30%,1) 40%)
;
    border:none; border-radius:16px;
    box-shadow:
            inset 0px 0px 1px 1px hsla(350,80%,30%,0.9),
            inset 0px 0px 2px 3px hsla(350,80%,50%,0.9),
            inset 1px 1px 1px 4px hsla(350,80%,100%,0.8),
            inset 0px 0px 2px 7px hsla(350,80%,60%,0.8),
            inset 0px 0px 4px 10px hsla(350,80%,50%,0.9),
            8px 10px 2px 6px hsla(350,80%,20%,0.55),
            0px 0px 3px 2px hsla(350,80%,40%,0.9),
            0px 0px 2px 6px hsla(350,80%,50%,0.9),
                /*0px 0px 2px 3px hsla(350,80%,60%,0.9),*/
            -1px -1px 1px 6px hsla(350,80%,100%,0.9),
                /*0px 0px 2px 8px hsla(350,80%,60%,0.9),*/
            0px 0px 2px 11px hsla(350,80%,50%,0.9),
            0px 0px 1px 12px hsla(350,80%,40%,0.9),
            1px 3px 14px 14px hsla(350,80%,0%,0.4)
;
}

button:active {
    color:hsla(350,0%,85%,1); padding:26px 34px 22px 38px;
    background-image:
            linear-gradient(273deg,hsla(350,80%,50%,1) 50%, hsla(350,80%,55%,1) 60%)
;
    box-shadow:
            inset 3px 4px 3px 2px hsla(350,80%,20%,0.55),
            inset 0px 0px 1px 1px hsla(350,80%,30%,0.9),
            inset -1px -1px 2px 3px hsla(350,80%,50%,0.9),
            inset -2px -2px 1px 3px hsla(350,80%,100%,0.8),
            inset 0px 0px 2px 7px hsla(350,80%,60%,0.8),
            inset 0px 0px 3px 10px hsla(350,80%,50%,0.9),

            0px 0px 3px 2px hsla(350,80%,40%,0.9),
            0px 0px 2px 6px hsla(350,80%,50%,0.9),
                /*0px 0px 2px 3px hsla(350,80%,60%,0.9),*/
            -1px -1px 1px 6px hsla(350,80%,100%,0.9),
                /*0px 0px 2px 8px hsla(350,80%,60%,0.9),*/
            0px 0px 2px 11px hsla(350,80%,50%,0.9),
            0px 0px 1px 12px hsla(350,80%,40%,0.9),
            1px 3px 14px 14px hsla(350,80%,0%,0.4)
;
}

body {
    background: dark-grey;
}
